@import "/node_modules/primeflex/primeflex.css";
@import "primeflex/themes/primeone-light.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family:'proximanova_light';
  src: url('@/assets/fonts/proximanova_light.otf');
}

body {
  font-family: 'proximanova_light' !important;
  background-image: url('@/assets/images/bg2020.png');
  /* background-size:cover; */
  background-size: 1920px 1498px;
  background-position: center;
  background-repeat:repeat-y;
}

/* #app {
  font-family: 'proximanova_light';
} */